* {
  font-family:'Times New Roman', Times, serif
}

header {
  display: table-row;
  flex-direction: column;
}

nav {
  color:black;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  border: steelblue;
  background-color:darkslateblue
}

